aiohttp 
aiosignal 
alabaster==0.7.12
altgraph==0.17.2
anaconda-client 
anaconda-project 
anyio 
appdirs 
argh 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asn1crypto 
astroid 
astropy 
asttokens 
async-generator==1.10
async-timeout 
atomicwrites 
attrs 
Automat==20.2.0
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref 
bcrypt 
beautifulsoup4 
binaryornot==0.4.4
bitarray 
bkcharts==0.2
black 
bleach 
bokeh 
boto==2.49.0
boto3 
botocore 
Bottleneck 
brotlipy 
cached-property 
cachetools 
certifi==2022.6.15
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
clyent==1.2.2
colorama 
colorcet 
comtypes==1.1.11
conda==4.13.0
conda-content-trust 
conda-pack 
conda-package-handling 
conda-token 
constantly==15.1.0
contextlib2 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
Cython 
cytoolz 
daal4py==2021.5.0
dask 
dataclasses 
datashader 
datashape==0.5.4
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
distributed 
docutils 
entrypoints 
et-xmlfile==1.0.1
executing 
fastcache 
fastjsonschema 
filelock 
flake8 
Flask 
flit_core 
fonttools==4.25.0
frozenlist 
fsspec 
future==0.18.2
gevent 
glob2==0.7
google-api-core 
google-auth 
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-resumable-media 
googleapis-common-protos 
greenlet 
grpcio 
h5py 
HeapDict==1.0.1
holoviews 
html5lib 
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
importlib-resources 
incremental 
inflection 
iniconfig 
intake 
intervaltree==3.0.2
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jdcal==1.4.1
jedi 
jellyfish 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
llvmlite==0.38.1
locket 
lxml 
lz4 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1
menuinst 
mistune 
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock 
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
notebook-shim 
numba 
numexpr 
numpy 
numpydoc 
olefile 
opencv-python==4.6.0.66
openpyxl 
packaging 
pandas 
pandocfilters 
panel 
param 
paramiko 
parsel 
parso 
partd 
path 
pathlib2 
pathspec 
patsy 
pefile==2022.5.30
pep8==1.7.1
pexpect 
pickleshare 
Pillow 
pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11
poyo==0.5.0
prometheus-client 
prompt-toolkit 
Protego 
protobuf 
psutil 
ptyprocess 
pure-eval 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle 
pycosat 
pycparser 
pycryptodomex==3.15.0
pyct==0.4.6
pycurl==7.45.1
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyHamcrest 
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pylint 
pyls-spyder 
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
PyQtWebEngine==5.15.4
pyreadline 
pyrsistent 
PySocks 
pytest==7.1.2
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-slugify 
pytz 
pyu2f 
pyviz-comms 
PyWavelets 
pywin32==303
pywin32-ctypes 
pyWinhook==1.6.2
pywinpty 
PyX==0.15
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
regex 
requests 
requests-file 
rope 
rsa 
Rtree 
ruamel-yaml-conda 
s3transfer 
scapy==2.4.5
scikit-image 
scikit-learn 
scikit-learn-intelex==2021.20220207.124103
scipy 
seaborn 
Send2Trash 
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch 
sip 
six 
smart-open 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels 
sympy 
tables==3.7.0
tabulate 
TBB==0.2
tblib 
tenacity 
terminado 
testpath 
text-unidecode==1.3
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss 
tinycss2 
tldextract 
toml 
tomli 
tomlkit 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing_extensions 
ujson 
unicodecsv==0.14.1
Unidecode 
urllib3 
w3lib 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whichcraft==0.6.1
widgetsnbextension 
win-inet-pton 
win-unicode-console 
wincertstore==0.2
WMI==1.5.1
wrapt 
xarray 
xlrd 
XlsxWriter 
xlwings 
xlwt==1.3.0
yapf 
yarl 
zict 
zipp 
zope.event 
zope.interface 
